registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=600000
network-timeout=600000
progress=false
audit=false
fund=false
engine-strict=false
npx eas build --profile development --platform android
