<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.anonymous.touristmapblank"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <!-- NOT: Buraya SYSTEM_ALERT_WINDOW KOYMADIK; kopya uyarısını kaldırmak için main'e taşıdık -->

  <application
    tools:replace="android:allowBackup"
    android:allowBackup="false">
    <!-- Debug build’e özel ek ayarlarınız varsa buraya ekleyin -->
  </application>

  <queries>
    <!-- Gerekirse debug araçları için ek <intent> sorguları -->
  </queries>
</manifest>
